
    <div class="cart cart-body">
      <div class="header-title">Kebab Kingdom</div>
      <div class="cart-items"></div>

    </div>
    <label class="utensils">
      Request utensils, straws, etc.
      <input type="checkbox">
    </label>
    <div class="fixed-cart">
      <div class="order-notes">
        <input type="text" placeholder="Add a note for the store">
      </div>
      <a href="/api/checkout" style="text-decoration-color: black">
        <button class="checkout">
          Go to checkout • $<span class="cart-checkout-total">0.00</span>
        </button>
      </a>
  </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>

