<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Füber Feasts</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_cart.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body class="cart">
    <div class="cart-body">
      <div class="header-title">
        Kebab Kingdom
      </div>
      <div class="cart-items">
        <div class="item">
          <div class="item-quantity">
            1 <i data-feather="chevron-down"></i>
          </div>
          <div class="item-info">
            <div class="item-name">
              Chicken kebab
            </div>
            <div class="item-price">
              $15.99
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-quantity">
            1 <i data-feather="chevron-down"></i>
          </div>
          <div class="item-info">
            <div class="item-name">
              Chicken kebab
            </div>
            <div class="item-price">
              $15.99
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-quantity">
            1 <i data-feather="chevron-down"></i>
          </div>
          <div class="item-info">
            <div class="item-name">
              Chicken kebab
            </div>
            <div class="item-price">
              $15.99
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-quantity">
            1 <i data-feather="chevron-down"></i>
          </div>
          <div class="item-info">
            <div class="item-name">
              Chicken kebab
            </div>
            <div class="item-price">
              $15.99
            </div>
          </div>
        </div>
      </div>
      <label class="utensils">
        Request utensils, straws, etc.
        <input type="checkbox">
      </label>
      <div class="order-notes">
        <input type="text" placeholder="Add a note for the store">
      </div>
      <a href="/api/checkout">
        <button class="checkout">
          Go to checkout • $45.00
        </button>
      </a>
    </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
