<header id="header-tj">
  <div class="header-container">
    <div class="logo">
      <h1>Füber<span>Feasts</span></h1>
    </div>
    <div class="currentDetails">
      <div class="options">
        <div class="container-delivery">
          <button class="options-button-delivery selected">
            Delivery
          </button>
          <button class="options-button-delivery">
            Pick-up
          </button>
        </div>
      </div>
      <div class="header-options header-button changeAddressBtn">
        <button>
          <i data-feather="map-pin"></i>
        </button>
      </div>
    </div>
    <div class="header-searchbar">
      <i data-feather="search"></i>
      <input type="text" placeholder="Search">
    </div>
    <!-- TODO -->
    <div class="header-options">
      <button class="options-cart-button" id="myBtn">
        <i data-feather="shopping-cart"></i>
        <div id="cart-counter">
          Cart • 0
        </div>
      </button>
    </div>

    <div id="cart-modal" class="modal">
      <span class="close">&times;</span>
      <%-include('./_cart')%>
    </div>

    <div class="modal" id="modal">
      <div class="modal-header">
        <div class ='title'>Change Address</div>
        <button class='closeBtn'>&times;</button>
      </div>
      <div class="modal-body">
        <form action = '/api/restaurants/address' method="GET">
          <div class="addressBarTime">
            <input class='addressBar' type="address" name="address" id="address">
            <button class='addressBtn' type="submit">Change</button>
          </div>
        </form>
      </div>
    </div>
    <div id="overlay"></div>

    <script>
      // Get the modal
      var modal = document.getElementById("cart-modal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      </script>
      <!-- TODO -->

    <div class="header-options header-button">
      Sign in
    </div>
  </div>
  </div>
</header>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>
