    <div class="progress-container">
      <input type="radio" class="radio" name="progress" value="order-received" id="order-received" checked>
      <label for="order-received" class="label">Order received</label>

      <input type="radio" class="radio" name="progress" value="making-order" id="making-order">
      <label for="making-order" class="label">Making order</label>

      <input type="radio" class="radio" name="progress" value="finalizing-order" id="finalizing-order">
      <label for="finalizing-order" class="label">Finalizing order</label>

      <input type="radio" class="radio" name="progress" value="picked-up" id="picked-up">
      <label for="picked-up" class="label">Order picked up</label>

      <input type="radio" class="radio" name="progress" value="order-delivered" id="order-delivered">
      <label for="order-delivered" class="label">Order delivered</label>

      <div class="progress">
        <div class="progress-bar"></div>
      </div>
    </div>
    <script>
      window.onload = function() {
        setTimeout(function() {
          document.getElementById('making-order').click();
        }, 15000);
        setTimeout(function() {
          document.getElementById('finalizing-order').click();
        }, 30000);
        setTimeout(function() {
          document.getElementById('picked-up').click();
        }, 45000);
        setTimeout(function() {
          document.getElementById('order-delivered').click();
        }, 60000);
      };
    </script>
