<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Füber Feasts</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menus.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/_progress-bar.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/_popupA.css" type="text/css" />
  <link rel="stylesheet" href="/styles/_cart.css" type="text/css"/>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart-counter.js"></script>
    <script type="text/javascript" src="/scripts/add-to-cart.js"></script>
    <script type="text/javascript" src="/scripts/generate-menu.js"></script>
  <script type="text/javascript" src="/scripts/change-address.js"></script>


  </head>

  <body>
    <!-- Side Bar -->
      <div class="sidebar">
        <div class="sidebar-header">
          Picked for you
        </div>
        <div class="sidebar-subheader">
        </div>
        <div class="sidebar-text">
          <button type="button" id="m1"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/604/604839.png"></img>Kebabs</button>
          <button type="button" id="m2"><i class="icon" data-feather="feather"></i>Salads</button>
          <button type="button" id="m3"><img class="icon" src="https://cdn-icons-png.flaticon.com/512/3255/3255681.png"></img>Drinks</button>
          <button type="button" id="m4"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/2965/2965574.png"></img>Desserts</button>
        </div>
        <div class="sidebar-subheader">
          Sort by price
        </div>
        <div class="sidebar-price">
          <span>low - high</span>
          <span>high - low</span>
        </div>
        <div class="sidebar-subheader">
          Sort by diet
        </div>
        <div class="sidebar-dietary">
          <span><i class="icon" data-feather="feather"></i>Vegetarian</span>
          <span><i class="icon" data-feather="heart"></i>Vegan</span>
          <span><img class="icon" src="https://cdn-icons-png.flaticon.com/128/1167/1167712.png"></img>Allergy friendly</span>
          <span><img class="icon" src="https://cdn-icons.flaticon.com/png/128/2276/premium/2276190.png?token=exp=1644666005~hmac=2ef90f4c7b0b4a23d544a14afe0417d1"></img>Gluten-free</span>
          <span><img class="icon" src="https://cdn-icons.flaticon.com/png/128/5862/premium/5862723.png?token=exp=1644665912~hmac=c80e236303102da9c4c38568a4927f6a"></img>Keto</span>
        </div>
      </div>
  </div>

    <!-- Header -->
    <%-include('partials/_header')%>

    <!-- Menu -->
    <div class="menu-container" id="kb">
      <div class="header">
        <img src="https://images.unsplash.com/photo-1527756898251-203e9ce0d9c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80"></img>
        <div class="header-title">
          <h1>Kebab Kingdom</h1>
          <span>
            <i data-feather="star"></i>
            4.6 (42 ratings) • Mediterranean • $
          </span>
          <span class="delivery-info">15–25 min • $2.49 Delivery Fee</span>
        </div>
      </div>
      <div class="menu-header">Kebabs
        <div class="menu-items kebabs">

        </div>
      </div>
      <div class="menu-header" id="sa">Salads
        <div class="menu-items">
          <div class="item-grid">
            <div class="item">Chicken Caesar Salad
              <span class="item-description">$14.99 | It is caesar salad with chicken</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Garden Salad
              <span class="item-description">$12.99 | It is salad from a garden</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">House salad
              <span class="item-description">$12.99 | It is salad from a House</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Veggie salad
              <span class="item-description">$12.99 | It is salad with veggies</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-header" id="de">Desserts
        <div class="menu-items">
          <div class="item-grid">
            <div class="item">Chocolate cake
              <span class="item-description">$6.99 | It is a cake with chocolate</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Cheesecake
              <span class="item-description">$7.99 | It is a cheesecake</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Entire 5kg Hershey's chocolate bar
              <span class="item-description">$99.99 | I don't know how you would finish this</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Ice cream
              <span class="item-description">$4.99 | It is ice cream</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-header" id="dk">Drinks
        <div class="menu-items">
          <div class="item-grid">
            <div class="item">Soda pop
              <span class="item-description">$2.99 | Coke • Sprite • Fanta • Gineger ale</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Coffee
              <span class="item-description">$2.99 | Coffee beans imported from Italy</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Tea
              <span class="item-description">$2.99 | Green • Black • Herbal • Chamomile</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
          <div class="item-grid">
            <div class="item">Water Bottle
              <span class="item-description">$5.99 | Fugi water bottle</span>
            </div>
            <div class="menu-add">
              <i data-feather="plus-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
