<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Füber Feasts</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://github.com/glitjch/Team_8_Fuber/blob/html/docs/F%C3%BCberFeastsLogo.png?raw=true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/progress.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/_progress-bar.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/_cart.css" type="text/css"/>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/change-address.js"></script>
    <script type="text/javascript" src="/scripts/progress-cart.js"></script>
    <script type="text/javascript" src="/scripts/cart-counter.js"></script>
    <script type="text/javascript" src="/scripts/change-address.js"></script>
    <script type="text/javascript" src="/scripts/add-to-cart.js"></script>


  </head>
  <body>

    <%-include('partials/_header')%>

    <div class="order-header">
      <span>You have successfully placed your order</span>
      <div class="order-subheader">
        Thank you for supporting your local restaurants
      </div>
      <div class="order-subheader">
        Your order will be delivered to you you shortly
      </div>
    </div>

    <%-include('partials/_progressbar')%>

    <div class="checkout-body">
      <div class="header-title">Kebab Kingdom</div>
      <div class="checkout-items"></div>
    </div>
    <h2>Total $<span class="cart-checkout-total" style="color:black">0.00</span></h2>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
   </script>
  </body>
</html>

