<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Füber Feasts</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/restaurants.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Side Bar -->
      <div class="sidebar">
        <div class="sidebar-header">
          All Stores
        </div>
        <div class="sidebar-subheader">
          Sort
        </div>
        <div class="sidebar-text">
          <span><i class="icon" data-feather="thumbs-up"></i>Picked for you</span>
          <span><i class="icon" data-feather="heart"></i>Most popular</span>
          <span><i class="icon" data-feather="star"></i>Rating</span>
          <span><i class="icon" data-feather="clock"></i></img>Delivery time</span>
        </div>
        <div class="sidebar-subheader">
          Price range
        </div>
        <div class="sidebar-price">
          <span>$</span>
          <span>$$</span>
          <span>$$$</span>
          <span>$$$$</span>
        </div>
        <div class="sidebar-price-range">
          Max. Delivery Fee
        </div>
        <div class="sidebar-slide-container">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
        <div class="sidebar-price-range-points">
          <span>$1</span>
          <span>$3</span>
          <span>$5+</span>
        </div>
        <div class="sidebar-subheader">
          Dietary
        </div>
        <div class="sidebar-dietary">
          <span><i class="icon" data-feather="feather"></i>Vegetarian</span>
          <span><i class="icon" data-feather="heart"></i>Vegan</span>
          <span><img class="icon" src="https://cdn-icons-png.flaticon.com/128/1167/1167712.png"></img>Allergy friendly</span>
          <span><img class="icon" src="https://cdn-icons.flaticon.com/png/128/2276/premium/2276190.png?token=exp=1644666005~hmac=2ef90f4c7b0b4a23d544a14afe0417d1"></img>Gluten-free</span>
          <span><img class="icon" src="https://cdn-icons.flaticon.com/png/128/5862/premium/5862723.png?token=exp=1644665912~hmac=c80e236303102da9c4c38568a4927f6a"></img>Keto</span>
        </div>
      </div>
  </div>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="logo">
          <h1>Füber<span>Feasts</span></h1>
        </div>
        <div class="currentDetails">
          <div class="options">
            <div class="container-delivery">
              <button class="options-button-delivery selected">
                Delivery
              </button>
              <button class="options-button-delivery">
                Pick-up
              </button>
            </div>
          </div>
          <div class="header-options header-button">
            <button>
              <i data-feather="map-pin"></i>
              401 W Georgia St
            </button>
          </div>
        </div>
        <div class="header-searchbar">
          <i data-feather="search"></i>
          Search
        </div>
        <div class="header-options">
          <button class="options-cart-button">
            <i data-feather="shopping-cart"></i>
              Cart • 0
            </button>
        </div>
          <div class="header-options header-button">
            Sign in
          </div>
        </div>
      </div>
    </header>
    <!-- Options -->


    <!-- Orders Near You -->
    <div class="listings">
      <div class="container">
        <div class="header">
          <div class="header-title">
            <h2>Orders near you</h2>
            <span>Your neighborhood's latest orders</span>
          </div>
          <div class="header-view-options">
            <div class="view-more">
              <span class="arrow left">
                <i data-feather="arrow-left"></i>
              </span>
              <span class="arrow right darker">
                <i data-feather="arrow-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="listings-grid">
          <div class="listings-grid-element">
            <div class="image">
              <img src="https://images.unsplash.com/photo-1598866594230-a7c12756260f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1608&q=80" alt="Listing pic">
            </div>
            <div class="listings-text">
              <div class="listings-text-title">
                <h3>Pasta Palace</h3>
                <div class="listings-info">
                  <span>2 items • $19.03 • 3 mins ago</span>
                </div>
              </div>
              <div class="listings-rating">
                <span>4.8</span>
              </div>
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img src="https://images.unsplash.com/photo-1596662951482-0c4ba74a6df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Listing pic">
            </div>
            <div class="listings-text">
              <div class="listings-text-title">
                <h3>Hamburger Hashery </h3>
                <div class="listings-info">
                  <span>4 items • $43.28 • 19 mins ago</span>
                </div>
              </div>
              <div class="listings-rating">
                <span>4.2</span>
              </div>
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img src="https://images.unsplash.com/photo-1611143669185-af224c5e3252?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="Listing pic">
            </div>
            <div class="listings-text">
              <div class="listings-text-title">
                <h3>Super Sushi</h3>
                <div class="listings-info">
                  <span>1 item • $5.83 • 23 mins ago</span>
                </div>
              </div>
              <div class="listings-rating">
                <span>4.0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


        <!-- Popular Near You -->
        <div class="listings">
          <div class="container">
            <div class="header">
              <div class="header-title">
                <h2>Popular near you</h2>
              </div>
              <div class="header-view-options">
                <div class="view-all">
                  <span>See all</span>
                </div>
                <div class="view-more">
                  <span class="arrow left">
                    <i data-feather="arrow-left"></i>
                  </span>
                  <span class="arrow right darker">
                    <i data-feather="arrow-right"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="listings-grid">
              <div class="listings-grid-element">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1626700051175-6818013e1d4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="Listing pic">
                </div>
                <div class="listings-text">
                  <div class="listings-text-title">
                    <h3>Burrito Bar</h3>
                    <div class="listings-info">
                      <span>$3.99 delivery fee • 20-30 min</span>
                    </div>
                  </div>
                  <div class="listings-rating">
                    <span>4.8</span>
                  </div>
                </div>
              </div>
              <div class="listings-grid-element">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Listing pic">
                </div>
                <div class="listings-text">
                  <div class="listings-text-title">
                    <h3>Salad Sanctuary</h3>
                    <div class="listings-info">
                      <span>$1.99 delivery fee • 25-35 min</span>
                    </div>
                  </div>
                  <div class="listings-rating">
                    <span>4.2</span>
                  </div>
                </div>
              </div>
              <div class="listings-grid-element">
                <div class="image">
                  <img src="https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Listing pic">
                </div>
                <div class="listings-text">
                  <div class="listings-text-title">
                    <h3>Kebab Kingdom</h3>
                    <div class="listings-info">
                      <span>$5.99 delivery fee • 45-60 min</span>
                    </div>
                  </div>
                  <div class="listings-rating">
                    <span>4.0</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace()
    </script>
  </body>

</html>
