:root {
  --font-family: sans-serif;
  font-size: 16px;
  --color-green: #02c167;
  --color-grey: #eeeeee;
  --color-grey-darker: #545454;
}

header {
  display: flex;
}
header .logo {
  font-weight: 300;
}
header .logo span {
  font-weight: 600;
  color: var(--color-green);
}