header {
  display: flex;
  flex-direction: row;
  .logo {
    padding-right: 10px;
    h1 {
      font-weight: 300;
      span {
        font-weight: 600;
        color: var(--color-green);
      }
    }
  }
  .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  }

  .container-delivery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    padding: 6px 7px;
    background: var(--color-grey);
    border-radius: 30px;

    }
  .header-searchbar {
    margin: auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 0;
    padding: 0.8rem 1rem;
    background: var(--color-grey);
    border-radius: 30px;
  }
  .header-options {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding-left: 1rem;
    letter-spacing: 0.6px;
    .options-cart-button {
      display: flex;
      align-items: center;
      padding: 0.8rem 1.2rem;
      border-radius: 1rem;
      border: 0;
      font-size: 1em;
      font-family: var(--font-family);
      letter-spacing: 0.6px;
      background: black;
      color: white;
    }
  }
  .header-button {
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 30px;
    border: 0;
    font-size: 1rem;
    font-family: var(--font-family);
    letter-spacing: 0.6px;
    background: var(--color-grey);
    button {
      font-size: 0.8rem;
      padding: 0;
      border: 0;
      display: flex;
      align-items: center;
    }
  }
}